---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="The Stillwells"
	description="The O'Doyles of Timber Creek"
	pubDate={new Date('August 2005')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>To be continued...
		
	</p>


</Layout>
