---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello, WORLD!</h1>
			<p>
				Welcome to the Official JDBB Webpage. I am sure you are wondering, just what is JDBB?  JDBB is a blog page for The Stillwell's. Thats right. Justin, Dana, Brooklyn, & Brennen.  JDBB! 
				Really, this is a page for me to practice coding and website building, but what better way to do it than using me and my family and documenting our lives and big events.   
			</p>
			<p>
		</main>
		<Footer />
	</body>
</html>
